{% load admin_static %}{% load admin_tools_menu_tags %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{{ title }}{% endblock %} | {% block meta_site_name %}{{SITE_NAME}}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.min.css" %}{% endblock %}" />

{% block extrastyle %}
{{ block.super }}
{% if user.is_active and user.is_staff %}
{% if not is_popup %}
{% admin_tools_render_menu_css %}
{% endif %}
{% endif %}
{% endblock %}

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>

<script type="text/javascript" src="/static/admin/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/admin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/admin/js/admin.actions.js"></script>

{% block extrahead %}{% endblock %}
{% block custom_css %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<link rel="shortcut icon" href="/static/img/favicon.ico">
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
{% csrf_token %}

{% if not is_popup %}
<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="http://{{SITE_DOMAIN}}" title="Back to site">{% block site_name %}{{SITE_NAME}}{% endblock %}</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    {% block nav-global %}
        {% if user.is_active and user.is_staff %}
            {% if not is_popup %}
                {% admin_tools_render_menu %}
            {% endif %}
        {% endif %}
    {% endblock %}
    
    {% if user.is_active and user.is_staff %}
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% filter force_escape %}{% if user.first_name or user.last_name %}{{user.first_name}} {{user.last_name}}{% else %}{{user.username}}{% endif %}{% endfilter %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% block userlinks %}
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
                <li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
            {% endif %}
            <li><a href="{% url 'admin:auth_user_change' user.id %}">{% trans 'Profile' %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
           {% endblock %}
        </ul>
      </li>
    </ul>
    {% endif %}
  </div><!-- /.navbar-collapse -->
</nav>
<!-- End navigation -->
{% endif %}

<!-- Breadcrumbs -->
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'admin:index' %}">{% trans 'Dashboard' %}</a></li>
    {% if title %}<li>{{ title }}</li>{% endif %}
</ol>
{% endblock %}

<!-- Messages -->
{% block messages %}
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}
      <li{% if message.tags %} class="alert-{{ message.tags }}  alert "{% endif %}>{{ message }}</li>
    {% endfor %}</ul>
    {% endif %}
{% endblock messages %}

<!-- Content -->
<div class="content" style="padding: 0; margin: 0;">
    {% block pretitle %}{% endblock %}
    
    {% block content_title %}{% if title %}<div class="inner"><h1>{{ title }}</h1></div>{% endif %}{% endblock %}
    {% block object-tools %}{% endblock %}
    <div class="clearfix"></div>
    {% block content %}
    
    {{ content }}
    {% endblock %}
    {% block sidebar %}{% endblock %}
    <div class="clearfix"></div>
</div>
<!-- END Content -->

<!-- Footer -->
{% block footer %}
{% if not is_popup %}
<div id="footer">
    <div class="inner">
        {% trans "Content Management by" %} {% block author_link %}<a href="{{AUTHOR_URL}}">{{AUTHOR}}</a>{% endblock %}
    </div>
</div>
{% endif %}
{% endblock %}
<!-- END Container -->
<script>
$(document).ready(function(){
    $('[rel=tooltip]').tooltip();
})

</script>
{% block footer_script %}{% endblock %}
</body>
</html>
