{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}

{% block extrastyle %}
  {{ block.super }}

  {% if cl.formset %}

  {% endif %}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Dashboard' %}</a></li>
  <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst }}</a></li>
  <li>{{ cl.opts.verbose_name_plural|capfirst }}</li>
</ol>
{% endblock %}

{% endif %}

{% block coltype %}flex{% endblock %}

{% block object-tools %}
<div class="object-tools btn-toolbar inner">
  <div class="btn-group">
    {% block search %}{% search_form cl %}{% endblock %}
  </div>
  <div class="btn-group">
    {% block object-tools-items %}
        {% if has_add_permission %}
        <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="btn btn--create">
          <span class="fa fa-plus"></span>
          {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
        </a>
        {% endif %}
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block content %}
  <div id="content-main">
    
    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %} row" id="changelist">

      {# {% if cl.has_filters %}<div class="col-sm-10">{% else %}<div class="col-sm-12">{% endif %} #}

      <div class="col-sm-12">
        {% if cl.has_filters %}<button class="btn btn-default btn-filter"><span class="glyphicon glyphicon-filter"></span> {% trans "Show filter" %}</button>{% endif %}
      
        {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
        <form id="changelist-form" class="form-horizontal" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
        {% if cl.formset %}
          <div>{{ cl.formset.management_form }}</div>
        {% endif %}

        {% block result_list %}
            {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% else %}<div class="actions"></div>{% endif %}
            {% result_list cl %}
            {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
        {% endblock %}
        {% block pagination %}{% pagination cl %}{% endblock %}
        </form>
      </div>
      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter" class="col-sm-2">
            <button class="btn btn-default btn-filter">{% trans "Hide filter" %}</button>
            <div class="heading">{% trans 'Filter' %}</div>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
