{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}


{% block content_title %}{% if title %}<div class="inner"><h1>{{ title }} &nbsp; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}" class="small gray">{% trans "Cancel" %}</a>{% endif %}</h1></div>{% endif %}{% endblock %}




{% block breadcrumbs %}
{% if not is_popup %}
<ol class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Dashboard' %}</a></li>
  <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a></li>
  <li>{% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}</li>
  <li>{% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}</li>
</ol>
{% endif %}
{% endblock %}


{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools btn-toolbar inner">
    {% block object-tools-items %}
    <div class="btn-group">
    <a href="{% url 'admin:app_list' app_label=opts.app_label %}{{ opts.module_name }}/{{ object_id }}/history/" class="historylink btn btn-default"><i class="glyphicon glyphicon-time"></i> {% trans "History" %}</a>
    </div>
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}

{% block content %}<div id="content-main">

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form" class="form-horizontal">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
  <div class="inner">
    <p class="alert alert-danger">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
  </div>
{% endif %}
  <div class="inner">
  {% block field_sets %}
  {% for fieldset in adminform %}
    {% include "admin/includes/fieldset.html" %}
  {% endfor %}
  {% endblock %}

  {% block after_field_sets %}{% endblock %}

  {% block inline_field_sets %}
  {% for inline_admin_formset in inline_admin_formsets %}
      {% include inline_admin_formset.opts.template %}
  {% endfor %}
  {% endblock %}

  {% block after_related_objects %}{% endblock %}
  </div>
{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
