{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
    <li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a></li>
    <li>{% trans 'Delete multiple objects' %}</li>
</ol>
{% endblock %}

{% block content %}
<div id="content-main">
{% if perms_lacking or protected %}
    <div class="inner">
    {% if perms_lacking %}
        <p>{% blocktrans %}Deleting the selected {{ objects_name }} would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
        <ul>
        {% for obj in perms_lacking %}
            <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if protected %}
        <p>{% blocktrans %}Deleting the selected {{ objects_name }} would require deleting the following protected related objects:{% endblocktrans %}</p>
        <ul>
        {% for obj in protected %}
            <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
{% else %}
    <div class="inner">
        <p>{% blocktrans %}Are you sure you want to delete the selected {{ objects_name }}? All of the following objects and their related items will be deleted:{% endblocktrans %}</p>
    </div>
    <fieldset>
        <div class="inner">
        {% for deletable_object in deletable_objects %}
            <ul>{{ deletable_object|unordered_list }}</ul>
        {% endfor %}
        </div>
    </fieldset>
    <form action="" method="post">{% csrf_token %}
    <div class="form-actions">
        {% for obj in queryset %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
        {% endfor %}
        <input type="hidden" name="action" value="delete_selected" />
        <input type="hidden" name="post" value="yes" />
        <input type="submit" class="btn btn-danger" value="{% trans "Yes, I'm sure" %}" />
    </div>
    </form>
{% endif %}
</div>
{% endblock %}
