{% extends "admin/base_site.html" %}
{% load i18n %}
{% load admin_urls %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
    <li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst }}</a></li>
    <li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst|escape }}</a></li>
    <li><a href="{% url opts|admin_urlname:'changelist' %}{{ object.pk }}">{{ object|truncatewords:"18" }}</a></li>
    <li>{% trans 'Delete' %}</li>
</ol>
{% endblock %}

{% block content %}<div id="content-main">

{% if perms_lacking or protected %}
    <div class="inner">
    {% if perms_lacking %}
        <p>{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
        <ul>
        {% for obj in perms_lacking %}
            <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if protected %}
        <p>{% blocktrans with escaped_object=object %}Deleting the {{ object_name }} '{{ escaped_object }}' would require deleting the following protected related objects:{% endblocktrans %}</p>
        <ul>
        {% for obj in protected %}
            <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
{% else %}
    <form action="" method="post">{% csrf_token %}
        <div class="inner">
            <p>{% blocktrans with escaped_object=object %}Are you sure you want to delete the {{ object_name }} "{{ escaped_object }}"? All of the following related items will be deleted:{% endblocktrans %}</p>
            <fieldset class="module aligned default">
                <div class="inner">
                    <ul>{{ deleted_objects|unordered_list }}</ul>
                </div>
            </fieldset>
            
        </div>
        
        <div class="form-actions">
            <input type="hidden" name="post" value="yes" />
            <input type="submit" class="btn btn-danger" value="{% trans "Yes, I'm sure" %}" />
            &nbsp; <a href="{% url opts|admin_urlname:'changelist' %}{{ object.pk }}" class="gray">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endif %}
</div>
{% endblock %}
