{% load i18n %}
<ul class="nav nav-list">
<li class="nav-header">{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</li>
{% for choice in choices %}
    <li{% if choice.selected %} class="selected"{% endif %}>
    	<a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a>
	</li>
{% endfor %}
</ul>
