{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote alert alert-danger">
{% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote alert alert-danger">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main" class="inner">
<form action="{{ app_path }}" method="post" id="login-form" class="form">{% csrf_token %}
  <legend>{% trans "Login" %}</legend>
  <div class="control-group">
    {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
    <label for="id_username" class="control-label required">{% trans 'Username:' %}</label> 
    <div class="controls">{{ form.username }}</div>
  </div>
  <div class="control-group">
    {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
    <label for="id_password" class="control-label required">{% trans 'Password:' %}</label> 
    <div class="controls">{{ form.password }}</div>
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>


  <div class="control-group">
    <div class="controls">
      {% url 'admin_password_reset' as password_reset_url %}
      {% if password_reset_url %}
      <span class="help-block"><a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a></span>

      {% endif %}
      <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary" />
    </div>
  </div>


</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
