{% load i18n admin_static %}
{% if cl.search_fields %}
<div id="toolbar" class="">
	{% comment %}
	{% if show_result_count %}
	    <span class="label label-default">{% blocktrans count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktrans %} (<a href="?{% if cl.is_popup %}pop=1{% endif %}">{% blocktrans with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktrans %}</a>)</span>
	{% endif %}
	{% endcomment %}
	<form id="changelist-search" action="" method="get" class="form-search">
		<div><!-- DIV needed for valid HTML -->
			
			<div class="input-group">
			

			<input type="text" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" class="search-query form-control" />
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
			</span>

			</div>
			
			{% for pair in cl.params.items %}
			    {% ifnotequal pair.0 search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}"/>{% endifnotequal %}
			{% endfor %}
		</div>
	</form>
</div>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>




{% endif %}
