{% load i18n %}
<div class="form-actions">
	<div class="row">
		<div class="col-md-12">
			{% if show_save %}<input type="submit" value="{% trans 'Save' %}" class="btn btn-primary" name="_save" {{ onclick_attrib }}/>{% endif %}
			{% if show_delete_link %}<a href="delete/" class="deletelink btn btn-danger pull-right">{% trans "Delete" %}</a>{% endif %}
			{% if show_save_as_new %}<input type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" {{ onclick_attrib }} class="btn btn-default" />{%endif%}
			{% if show_save_and_add_another %}<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" {{ onclick_attrib }} class="btn btn-default" />{% endif %}
			{% if show_save_and_continue %}<input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" {{ onclick_attrib }} class="btn btn-default" />{% endif %}
		</div>
	</div>
</div>
