{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    <div class="inner">
        {% for child in module.children %}
    
        <h3><a href="{{ child.url }}">{{ child.title }}</a></h3>
        
        <ul class="models">
            {% for model in child.models %}
            {% spaceless %}
            <li>
                {% if model.change_url %}<a href="{{ model.change_url }}">{{ model.title }}</a>{% else %}{{ model.title }}{% endif %}
                {% if model.add_url or model.change_url %}
                <ul class="action_btns">
                    {% if model.add_url %}<li><a class="addlink btn btn-success btn-mini" href="{{ model.add_url }}"><i class="icon-plus icon-white"></i> {% trans "Add" %}</a></li>{% endif %}
                    {% if model.change_url %}<li><a class="changelink btn btn-warning  btn-mini" href="{{ model.change_url }}"><i class="icon-edit icon-white"></i> {% trans "Change" %}</a></li>{% endif %}
                </ul>
                <div class="clearfix"></div>
                {% endif %}
            </li>
            {% endspaceless %}
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
{% endblock %}
