{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
<ul class="{{ module.layout }}">
    {% spaceless %}
    {% for child in module.children %}
    <li class="{% cycle 'odd' 'even' %}">
    <a{% if child.class %} class="{{child.class}}"{% endif %} href="{{ child.url }}" {% if child.description %} title="{{ child.description }}"{% endif %}>{{ child.title|safe }}</a> 
    </li>
    {% endfor %}
    {% endspaceless %}
</ul>
{% endblock %}
