{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    <div class="inner">
        <ul class="models">
            {% for child in module.children %}
            {% spaceless %}
            <li>
                {% if child.change_url %}<a href="{{ child.change_url }}">{{ child.title }}</a>{% else %}{{ child.title }}{% endif %}
                {% if child.add_url or child.change_url %}
                <ul class="action_btns">
                    {% if child.add_url %}<li><a class="addlink btn btn-success btn-mini" href="{{ child.add_url }}"><i class="icon-plus icon-white"></i> {% trans "Add" %}</a></li>{% endif %}
                    {% if child.change_url %}<li><a class="changelink btn btn-warning btn-mini" href="{{ child.change_url }}"><i class="icon-edit icon-white"></i> {% trans "Change" %}</a></li>{% endif %}
                </ul>
                <div class="clearfix"></div>
                {% endif %}
            </li>
            {% endspaceless %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
