{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
<div class="recent-actions">
	<table class="table">
		<tbody>
		{% spaceless %}

		{% for child in module.children %}
		
	  
		<tr>
			<td width="10%"><span class="label label-default {% if child.content_type %}{% filter lower %}label-{% trans child.content_type.name %}{% endfilter %}{% endif %}">{% if child.content_type %}{% filter capfirst %}{% trans child.content_type.name %}{% endfilter %}&nbsp;{% endif %}</span></td>

			{% if child.is_deletion %}
				<!-- <span class="deletelink"><span class="float-right">{{ child.action_time|date }}</span>{% if child.content_type %}{% filter capfirst %}{% trans child.content_type.name %}{% endfilter %}&nbsp;{% endif %}{{ child.object_repr }} </span> -->
				<td>{{ child.object_repr }} </td>
				<!-- <td>{{child}} {% trans "by" %} <strong>{{child.user}}</strong></td> -->
			{% else %}
				<!-- <td width="10%" class="label {% if child.content_type %}{% filter lower %}label-{% trans child.content_type.name %}{% endfilter %}{% endif %}">{% if child.content_type %}{% filter capfirst %}{% trans child.content_type.name %}{% endfilter %}&nbsp;{% endif %}</td> -->
				<td><a href="{{ child.get_admin_url }}" class="{% if child.is_addition %} addlink{% endif %}{% if child.is_change %} changelink{% endif %}">{{ child.object_repr }}</a>
			{% endif %}
			</td>

			<td>{{child}} {% trans "by" %} <strong>{{child.user}}</strong></td>
			
			<td class="date" width="14%"><span class="float-right">{{ child.action_time|date }}</span></td>
			
		</tr>

		
		{% endfor %}
		{% endspaceless %}
		</tbody>
	</table>
</div>
{% endblock %}
