{% load admin_tools_menu_tags %}
{% spaceless %}
{% if not item.is_empty %}
<li class="menu-item{% ifequal index 1 %} first{% endifequal %}{% if not item.enabled %} disabled{% endif %}{% if selected %} active{% endif %}{% if item.css_classes %} {{ item.css_classes|join:' ' }}{% endif %} {% if item.children and item.enabled %}dropdown{% endif %}">
<a href="{% if item.url and item.enabled %}{{ item.url }}{% else %}#{% endif %}"{% if item.description %} title="{{ item.description }}"{% endif %}{% if item.accesskey %} accesskey="{{ item.accesskey }}"{% endif %}  {% if item.children and item.enabled %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}>{{ item.title|safe }} {% if item.children and item.enabled %}<b class="caret"></b>{% endif %}</a>
    {% if item.children and item.enabled %}
    <ul class="dropdown-menu">
        {% for child_item in item.children %}
        {% if child_item.children %}{# <li>{{child_item.title|safe}}</li> #}{% else %}<li><a href="{{child_item.url}}">{{child_item.title|safe}}</a></li>{% endif %}
        {# {% admin_tools_render_menu_item child_item %} #}
        	{% for child_item_2 in child_item.children %}
	        
	        <li><a href="{{child_item_2.url}}">{{child_item_2.title|safe}}</a></li>
	        {# {% admin_tools_render_menu_item child_item %} #}
	        {% endfor %}
	        {# <li class="divider"></li> #}
        {% endfor %}
    </ul>
    {% endif %}
</li>
{% endif %}
{% endspaceless %}