{% load i18n admin_tools_dashboard_tags %}


<div id="dashboard-panel" class="inner">
    {# <h3><a href="#">{% trans "Modules" %}</a></h3> #}
    {% if has_disabled_modules %}
    <ul>
        {% spaceless %}
        {% for module in dashboard.children %}
        {% if not module.enabled %}
        <li><a href="#" rel="module_{{ module.id }}" class="addlink add-dashboard-module">{{ module.title }}</a></li>
        {% endif %}
        {% endfor %}
        {% endspaceless %}
    </ul>
    {% endif %}
</div>
<div id="{{ dashboard.get_id }}" class="dashboard-container">
    <div class="row">
        <div class="col-md-10 left-column">
            {% for module in dashboard.children %}

                {% if module.name == 'applist' or module.name == 'modellist' or module.name == 'feed'  or module.name == 'recentactions' %}
                {% admin_tools_render_dashboard_module module %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-2 right-column">
            {% for module in dashboard.children %}

                {% if module.name == 'linklist' %}
                {% admin_tools_render_dashboard_module module %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
