{% extends "admin/base.html" %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "Rosetta" %} - {% trans "Languages" %}{% endblock %}

{% block pagetitle %}{{block.super}} - {% trans "Language selection" %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin:index' %}">{% trans "Dashboard" %}</a></li>
        <li><a href="{% url 'rosetta-pick-file' %}">{% trans "Translations" %}</a></li>
        <li>{% trans "Language selection" %}</li>
    </ol>
    {% if do_session_warn %}<p class="errornote session-warn">{% trans "Couldn't load the specified language file. This usually happens when using the Encrypted Cookies Session Storage backend on Django 1.4 or higher.<br/>Setting ROSETTA_STORAGE_CLASS = 'rosetta.storage.CacheRosettaStorage' in your settings file should fix this." %}</p>{% endif %}
{% endblock %}

{% block content %}

    <ul class="object-tools btn-group inner pull-right">
        <a href="?filter=project" class="btn btn-default {% ifequal rosetta_i18n_catalog_filter 'project' %}active{% endifequal %}">{% trans "Project" %}</a>
        <a href="?filter=third-party" class="btn btn-default {% ifequal rosetta_i18n_catalog_filter 'third-party' %}active{% endifequal %}">{% trans "Third party" %}</a>
        <a href="?filter=django" class="btn btn-default {% ifequal rosetta_i18n_catalog_filter 'django' %}active{% endifequal %}">Django</a>
        <a href="?filter=all" class="btn btn-default {% ifequal rosetta_i18n_catalog_filter 'all' %}active{% endifequal %}">{% trans "All" %}</a>
    </ul>
    
    <div class="inner"><h1>{% trans "Translations" %}</h1></div>
    <div class="clearfix"></div>
    <div class="inner" style="margin-top:6px;">
    {% if has_pos %}

    {% for lid,language,pos in languages %}
    {% if pos %}

        <fieldset class="module">
            <h2><img src="/static/admin/img/flags/{{lid}}.png" class="float-left inner" alt="" style="padding-left:0;"> {{language}}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <td><strong>{% trans "Application" %}</strong></td>
                        <td><strong>{% trans "Progress"%}</strong></td>
                        <td><strong>{% trans "Messages" %}</strong></td>
                        <td><strong>{% trans "Translated" %}</strong></td>
                        <td><strong>{% trans "Fuzzy"%}</strong></td>
                        <td><strong>{% trans "Obsolete"%}</strong></td>
                        <td><strong>{% trans "File" %}</strong></td>
                    </tr>
                </thead>
                <tbody>
                    {% for app,path,po in pos %}
                    <tr class="{% cycle row1,row2 %}">
                        <td><a href="{% url 'rosetta-language-selection' lid forloop.counter0 %}{% if do_django %}?django{% endif %}{% if do_rosetta %}?rosetta{% endif %}">{{ app|title }}</a></td>
                        <td class="ch-progress r">{{po.percent_translated|floatformat:2}}%</td>
                        {% with po.untranslated_entries|length as len_untranslated_entries %}
                        <td class="ch-messages r">{{po.translated_entries|length|add:len_untranslated_entries}}</td>
                        {% endwith %}
                        <td class="ch-translated r">{{po.translated_entries|length}}</td>
                        <td class="ch-fuzzy r">{{po.fuzzy_entries|length}}</td>
                        <td class="ch-obsolete r">{{po.obsolete_entries|length}}</td>
                        <td class="hint">{{ path }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    {% endif %}
    {% endfor %}
    {% else %}
    <p class="alert alert-danger">{% trans "Nothing to translate!" %}</p><br>
    <p>{% trans "You haven't specified any languages in your settings file, or haven't yet generated a batch of translation catalogs." %}</p>
    <p>{% blocktrans with "http://docs.djangoproject.com/en/dev/topics/i18n/#topics-i18n" as i18n_doc_link  %}Please refer to <a href="{{i18n_doc_link}}">Django's I18N documentation</a> for a guide on how to set up internationalization for your project.{% endblocktrans %}</p>
    {% endif %}
    </div>
{% endblock %}