{% extends "admin/base.html" %}
{% load rosetta i18n %}
{% load url from future %}

{% block title %}{% trans "Rosetta" %}{% endblock %}

{% block header %}
    {{block.super}}
    <div id="user-tools">
        <p>
            <span><a href="{% url 'rosetta-pick-file' %}">{% trans "Pick another file" %}</a> /
            <a href="{% url 'rosetta-download-file' %}">{% trans "Download this catalog" %}</a></span>
        </p>
    </div>
    <script type="text/javascript">
    </script>

{% endblock %}

{% block pagetitle %}{{block.super}} - {{rosetta_settings.MESSAGES_SOURCE_LANGUAGE_NAME}} - {{rosetta_i18n_lang_name}} ({{ rosetta_i18n_pofile.percent_translated|floatformat:0 }}%){% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'admin:index' %}">{% trans "Dashboard" %}</a></li>
        <li><a href="{% url 'rosetta-pick-file' %}">{% trans "Translations" %}</a></li>
        <li>{{ rosetta_i18n_lang_name }}</li>
        <li>{{ rosetta_i18n_app|title }}</li>
        <li>{% blocktrans with rosetta_i18n_pofile.percent_translated|floatformat:2 as percent_translated  %}Progress: {{ percent_translated }}%{% endblocktrans %}</li>
    </ol>
    {% if not rosetta_i18n_write %}<p class="errornote read-only">{% trans "File is read-only: download the file when done editing!" %}</p>{% endif %}
    {% if rosetta_last_save_error %}<p class="errornote save-conflict">{% trans "Some items in your last translation block couldn't be saved: this usually happens when the catalog file changes on disk after you last loaded it." %}</p>{% endif %}
{% endblock %}

{% block content %}

    {% if not rosetta_i18n_write %}<p class="errornote read-only">{% trans "File is read-only: download the file when done editing!" %}</p>{% endif %}
    {% if rosetta_last_save_error %}<p class="errornote save-conflict">{% trans "Some items in your last translation block couldn't be saved: this usually happens when the catalog file changes on disk after you last loaded it." %}</p>{% endif %}
    

    <ul class="object-tools btn-group inner pull-right">
        <a href="?filter=untranslated" class="btn btn-default {% if rosetta_i18n_filter == 'untranslated' %}active{% endif %}">{% trans "Untranslated only" %}</a>
        <a href="?filter=translated" class="btn btn-default {% if rosetta_i18n_filter == 'translated' %}active{% endif %}">{% trans "Translated only" %}</a>
        <a href="?filter=fuzzy" class="btn btn-default {% if rosetta_i18n_filter == 'fuzzy' %}active{% endif %}">{% trans "Fuzzy only" %}</a>
        <a href="?filter=all" class="btn btn-default {% if rosetta_i18n_filter == 'all' %}active{% endif %}">{% trans "All" %}</a>
    </ul>


    <div class="object-tools inner">
        <form id="changelist-search" action="" method="post" class="form-search float-right">
            {% rosetta_csrf_token %}
            <input type="text" size="40" name="query" value="{% if query %}{{query}}{% endif %}" id="searchbar" tabindex="0" class="search-query" placeholder="Search translation" />
            <button class="btn btn-default" /><span class="glyphicon glyphicon-search"></span></button>
        </form>
        <div class="clearfix"></div>
    </div>
    <div class="inner"><h1>{% blocktrans  %}Translate into {{rosetta_i18n_lang_name}}{% endblocktrans %}</h1></div>
    <div class="clearfix"></div>
    
    <div id="changelist" class="module{% if rosetta_i18n_lang_bidi %} rtl{% endif %} rosetta">
        <div id="toolbar">
        
        {% comment %}
        {% if rosetta_settings.ENABLE_TRANSLATION_SUGGESTIONS %}
        <form id="translate-all">
            <div>
                <input type="submit" class="googleall" value="{% trans "Suggest All Translations" %}" />
            </div>
        </form>
        {% endif %}
        {% endcomment %}
        </div>

        <form method="post" action="">
            <div class="" style="margin-top:6px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            {% rosetta_csrf_token %}
                            <th><div class="text">{% trans "Original" %}</div></th>
                            {% if main_language %}<th>{{ main_language }}</th>{% endif %}
                            <th>{{ rosetta_i18n_lang_name }}</th>
                            <th class="c"><span class="checkall">[-]</span> {% trans "Fuzzy" %}</th>
                            <th>{% trans "Occurrences(s)" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in rosetta_messages %}
                        <tr class="{% cycle row1,row2 %}">
                            {% if message.msgid_plural %}
                                <td class="original plural" width="35%">
                                    <div class="plural-container">
                                        <span class="part">{{message.msgid|format_message|linebreaksbr}}</span>
                                        <span class="part">{{message.msgid_plural|format_message|linebreaksbr}}</span>
                                    </div>

                                    {% if message.msgctxt %}
                                        <span class="context">{% trans "Context hint" %}: {{message.msgctxt|safe}}</span>
                                    {% else %}
                                        {% if message.comment %}
                                        <span class="context">{% trans "Context hint" %}: {{message.comment|safe}}</span>
                                        {% endif %}
                                    {% endif %}

                                </td>
                                <td class="translation" width="35%">
                                    {% for k, msgstr in message.msgstr_plural.items|dictsort:"0"  %}
                                        <label for="m_{{message.md5hash}}_{{k}}">{{k}}:</label>
                                        <textarea rows="{{message.msgid|format_message|lines_count}}" cols="40" id="m_{{message.md5hash}}_{{k}}" name="m_{{message.md5hash}}_{{k}}" tabindex="{% increment tab_idx %}">{{msgstr}}</textarea>
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td class="original" width="35%">
                                    <span class="message">{{ message.msgid|format_message|linebreaksbr }}</span>
                                {% if message.msgctxt %}
                                    <span class="context">{% trans "Context hint" %}: "{{message.msgctxt|safe}}"</span>
                                    {% else %}
                                    {% if message.comment %}
                                    <span class="context">{% trans "Context hint" %}: {{message.comment|safe}}</span>
                                    {% endif %}
                                {% endif %}
                                </td>
                                {% if main_language %}<td class="original">{{ message.main_lang|format_message|linebreaksbr }}</td>{% endif %}
                                <td class="translation" width="35%">
                                    <textarea rows="{{message.msgid|format_message|lines_count}}" cols="40" name="m_{{message.md5hash}}" tabindex="{% increment tab_idx %}">{{message.msgstr}}</textarea>
                                    {% comment %}{% if rosetta_settings.ENABLE_TRANSLATION_SUGGESTIONS %}<a href="#" class="suggest">{% trans "suggest" %}</a>{% endif %}{% endcomment %}
                                </td>
                            {% endif %}
                                <td class="c">
                                    <input type="checkbox" name="f_{{message.md5hash}}" value="1" {% if message|is_fuzzy %}checked="checked"{% endif %} />
                                </td>
                                <td class="location">
                                    {% for fn,lineno in message.occurrences %}
                                        <code{% if forloop.counter|gt:"3" %} class="hide"{% endif %}>{{ fn }}:{{lineno}}</code>
                                    {% endfor %}
                                    {% if message.occurrences|length|gt:"3" %}
                                        <a href="#">&hellip; ({% blocktrans count message.occurrences|length|minus:"3" as more_count %}{{more_count}} more{% plural %}{{more_count}} more{% endblocktrans %})</a>
                                    {% endif %}
                                </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-12">
                        
                        {% if query %}
                                <input type="hidden" name="query" value="{{query}}"  />
                            {% endif %}
                            <input type="submit" class="btn btn-primary" name="_next" value="{% trans "Save and translate next block" %}" tabindex="{% increment tab_idx %}"/>
                            

                            <ul class="pagination pull-right">
                            {% if needs_pagination %}
                            {% for i in page_range %}
                                {% if i == '...' %}
                                <li><span>{{ i }}</span></li>
                                {% else %}
                                {% if i == page %}
                                    <li><span class="active">{{i}}</span></li>
                                {% else %}
                                    <li><a href="?page={{i}}{% if query %}&amp;query={{query}}{% endif %}">{{i}}</a></li>
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% else %}
                            {% endif %}

                            {% with paginator.object_list|length as hits %}
                            <li><span>{% blocktrans count rosetta_i18n_pofile|length as message_number %}{{hits}}/{{message_number}} message{% plural %}{{hits}}/{{message_number}} messages{% endblocktrans %}</span></li>
                            {% endwith %}
                            </ul>


                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
