<div {% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %} {{field.field.css_classes}}"{% else %}class="{{field.field.css_classes}}"{% endif %}>
    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}

    {% if field.field.is_hidden %}
        {{field.field}}
    {% elif field.is_checkbox %}
    <div class="form-group-checkbox">
        <label class="checkbox">
            {{ field.field }} {{ field.label_tag }}
        </label>
        {% if field.field.help_text %}
            <p class="help-block">{{ field.field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% else %}
        <div class="form-group">
        <label for="{{ field.field.auto_id }}" class="">{{ field.field.label }}</label>
        
        <div class="control-group">
            {% if field.is_readonly %}
                <p>{{ field.contents }}</p>
            {% else %}
                {{ field.field }}
            {% endif %}
            {% if field.field.help_text %}
                <p class="help-block">{{ field.field.help_text|safe }}</p>
            {% endif %}
        </div>
        
        </div>
    {% endif %}
    
    
</div>