<div class="module aligned {{ fieldset.classes }} tab-pane" id="{{fieldset.name|slugify}}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    <div class="inner">
    {% for line in fieldset %}
        <div class="form-row{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                {% include 'admin/includes/field.html' %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>
