{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<ol class="breadcrumb"><li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li></ol>{% endblock %}

{% block content %}
<div class="inner">
	<p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>
	<p><a href="{% url 'admin:index' %}">{% trans 'Log in again' %}</a></p>
</div>


{% endblock %}
