{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
	<li>{% trans 'Password reset' %}</li>
</ol>
{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block content_title %}<div class="inner"><h1>{% trans 'Password reset' %}</h1></div>{% endblock %}
{% block content %}
<div id="content-main">
<div class="inner">
<p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
</div>
</div>
{% endblock %}