{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
	<li>{% trans 'Password reset confirmation' %}</li>
</ol>
{% endblock %}

{% block title %}{% trans 'Password reset confirmation' %}{% endblock %}
{% block content_title %}<div class="inner"><h1>{% trans 'Password reset confirmation' %}</h1></div>{% endblock %}
{% block content %}
<div id="content-main">
<div class="inner">
{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>

<div class="">
	<div class="row">
		<div class="col-md-12">
			<input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary"/>
		</div>
	</div>
</div>

</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
</div>
</div>
{% endblock %}