{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
	<li>{% trans 'Password change' %}</li>
</ol>
{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block content_title %}<div class="inner"><h1>{% trans 'Password change' %}</h1></div>{% endblock %}

{% block content %}<div id="content-main">
<div class="inner">
<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}


		<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

		<fieldset class="module aligned wide">

		<div class="form-row">
		    {{ form.old_password.errors }}
		    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>{{ form.old_password }}
		</div>

		<div class="form-row">
		    {{ form.new_password1.errors }}
		    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>{{ form.new_password1 }}
		</div>

		<div class="form-row">
		{{ form.new_password2.errors }}
		    <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>{{ form.new_password2 }}
		</div>

		</fieldset>

		<div class="">
			<div class="row">
				<div class="col-md-12">
					<input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary" />
				</div>
			</div>
		</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>
</div>
{% endblock %}