{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
	<li>{% trans 'Password reset' %}</li>
</ol>
{% endblock %}

{% block content_title %}<div class="inner"><h1>{% trans "Reset password" %}</h1></div>{% endblock %}
{% block content %}
<div id="content-main">
<div class="inner">
	<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

	<form action="" method="post">{% csrf_token %}
		<fieldset>
		<div class="form-row">
			{{ form.email.errors }}
			<div class="control-group">
				<label for="id_email">{% trans 'Email address:' %}</label>{{ form.email }}
			</div>
		</div>
		</fieldset>
		<div class="">
			<div class="row">
				<div class="col-md-12">
					<input type="submit" value="{% trans 'Reset my password' %}" class="btn btn-primary"/>
				</div>
			</div>
		</div>
	</form>
</div>
</div>
{% endblock %}