{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
	<li>{% trans 'Password reset' %}</li>
</ol>
{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block content_title %}<div class="inner"><h1>{% trans 'Password reset' %}</h1></div>{% endblock %}

{% block content %}
<div id="content-main">
	<div class="inner">
		<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

		<p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
	</div>
</div>
{% endblock %}