.dashboard #content{
	background-color:@gray-lighter;
}
.right-column{
	
	//background-color: @gray-lighter2;
}
.left-column{
	background-color:#fff;
	background-color: lighten(@gray-lighter, 4%);
	border-right: 1px solid darken(@gray-lighter, 4%);
}


.dashboard-module{
	h2{
		margin-top:15px;
		border-bottom:none;
	}
}
.right-column .dashboard-module{

	.dashboard-module-content {
		margin-bottom:20px;
		ul{
			margin:0;
			padding:0;
			li{
				a{
					.inner;
					display:block;
					padding-top:2px;
					padding-bottom:2px;
					&:hover{
						background-color:@link-color;
						color:#fff;
						text-decoration: none;
					}
					&.action{
						text-transform: uppercase;
						color:@gray-dark;
						//background-color: @gray-light;
						padding-top:8px;
						padding-bottom:6px;
						margin-bottom:1px;
						font-size: 13px;

						[class^="icon-"],[class*=" icon-"]{
							position: relative;
							top:-1px;
						}
						&:hover{
							color:#fff;
						}
					}
				}
			}
		}
		.deletelink{
			.inner;
			display:block;
			padding-top:2px;
			padding-bottom:2px;
		}
		p{
			.inner;
		}
	}
}
.left-column .dashboard-module{
	.dashboard-module-content {
		margin-bottom:20px;
		ul{
			margin:0;
			padding:0;
			li{
				a{
				}
			}
		}
		.deletelink{
			.inner;
			display:block;
			padding-top:2px;
			padding-bottom:2px;
		}
	}

	ul.action_btns{
		float:right;
		li{
			display:inline-block;
			margin-left:1px;
		}
	}
	ul.models{
		li{
			margin-bottom:4px;
		}
	}
}