// Labels

.delete-row{
	background-color: @gray;
	color: #fff;
	padding:6px 14px 3px 14px;
	min-height: 18px;
	input[type=checkbox]{
		float:left;
		margin-right: 4px;
	}
	a{
		color: #fff;
	}
}

.inline-related{
	fieldset{
		//background-color: transparent;
	}
}

#translations-group, #translations_dynamic-group{
	.nav{
		margin-bottom: 0;
	}
	fieldset{
		margin:0;
		padding:20px 0px;
	}

	.nav-tabs{
		margin-top: 10px;
		padding-left: 10px;
		border-bottom: transparent;
	}

	.nav-tabs > li > a{
		background-color: #fff;
		border: 1px solid #ddd;
		&:hover{
			background-color: @gray-lighter;
		}
	}

	.nav-tabs > .active > a{
		background-color: @gray;
		&:hover{
			background-color:  @gray;
		}
	}

	
	.field-meta_description{
		textarea{
			max-width:606px;
		}
	}

	&.inline-group{
		padding: 8px 0px;
		.inline-related > h3{
			background-color: lighten(@gray-light, 25%);
		    //text-transform:uppercase;
		    color:@gray;
		    font-size:12px;
		    margin:0 0 14px 0;
		    border-bottom:1px solid #fff;
		    padding:8px 14px;
		}
	}

}
@media (min-width: @grid-float-breakpoint) {
    #translations-group{
    	.fileupload{
			margin-left: 160px;
		}
	}	
}

.inline-group{
	.field-language_code{
		// background-color: @gray-light;
		// color:#fff;
	}
	.field-title input[type=text] {
		max-width: 606px;
		width: 100%;
		font-size: 18px;
		padding: 10px;
		height:40px
	}
}
.sidebar{
	.form-group, .form-group-checkbox{
		label{
				float:none;
				width:auto;
			}
		.control-group{
			margin-left: 0;
		}

	}
	.form-group-checkbox {
		margin-left: 0px;
	}
	
}