body{
    background-color:#fff;
    margin:0;
    &.login{
    	.content {
    		width:320px;
    		margin:30px auto 0px auto;
			background-color: @gray-lighter;
			border: 1px solid lighten(@gray-light, 30%);
			padding:10px 30px 20px 30px;
			//.box-shadow(0 0px 6px rgba(0,0,0,.1));
			border-radius:3px;
		}
		#footer{
			text-align: center;
		}
    }
}

.navbar{
	margin-bottom: 0;
	.navbar-brand{
		margin-right:15px; 
	}
}
.breadcrumb{
	border-radius: 0;
	margin-bottom: 0;
	background-color: #fff;
}
.alert{
	border-radius: 0;
	margin-bottom: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
form .alert{
	margin-bottom: 10px;
	border-radius:@alert-border-radius;
}


ul, li{
	list-style:none;
	margin:0;
	padding:0;
}

.redactor_editor li{
	list-style: disc;
}


.inner{
	padding:0px 14px;
}


#branding{
	float:left;
	h1{
		a.small{
			font-size: 12px;
		}
	}
}

.login{
	#header{
		border-bottom:none; 
		background-color: transparent;
		color: @gray-dark;
	}
}

#footer{
	padding:14px 0;
	color:@gray-light;
}

#login-form{
	//.inner;
}

.content{
	background-color: @breadcrumb-bg;
	border-top:1px solid @gray-lighter;
	
	h1{
		font-size: 18px;
	}
	@media (min-width: @grid-float-breakpoint) {
		.inner > h1{
			float:left;
		}
	}
	h2{
		font-size: 12px;
		margin:0 0 10px 0;
		padding:0px 15px 10px 15px;
		border-bottom:1px solid @breadcrumb-bg;
		text-transform: uppercase;
		font-weight: bold;
		color:@gray;
	}
	

	.glyphicon-ok{
		color:@brand-success;
	}
	.glyphicon-remove{
		color:@brand-danger;
	}
	
	.vDateField, .vTimeField{
	    width:70px;
	    margin-bottom: 4px;
	  }


	.actions {
	  .inner;
	  padding-top:6px;
	  padding-bottom:6px;
	  background-color: @gray-lighter;
	  border-top: 1px solid lighten(@gray-light, 25%);
	  border-bottom: 1px solid lighten(@gray-light, 25%);
	  min-height:46px;
	  select{
	  	.form-control;
	    display:inline;	    
	    width:auto;
	  }
	  label{
	    display:inline;
	  }
	}

	.selector{
	  min-height:330px;
	  h2{
	    color:@gray;
	  }
	  .selector-available{
	    float:left;
	    width:40%;
	    select{
	      height:200px;
	      width:100%;
	      margin-bottom: 4px;
	    }
	  }
	  .selector-chooser{
	    float:left;
	    width:102px;
	    margin:0 10px;
	  }
	  .selector-chosen{
	    float:left;
	    width:30%;
	    select{
	      height:200px;
	      width:100%;
	      margin-bottom: 4px;
	      //margin-top:40px;
	    }
	  }
	  
	  .selector-add{
	    .btn;
	    .btn-success;
	  }
	  .selector-remove{
	    .btn;
	    .btn-danger;
	  }
	  .selector-chooseall{
	    .btn;
	  }
	  .selector-clearall{
	    .btn;
	  }

	  ul.selector-chooser{
	    margin:0 0 0 8px;
	    padding-top:160px;
	    li{
	      margin:0 0 4px 0;
	      a{
	        width:80px;
	      }
	    }
	  }
	  .selector-filter{
	    label{
	      float:left;
	      margin-top:4px;
	      margin-right: 8px;
	    }
	    input{

	    }
	  }
	}

	.clearable-file-input{
		input[type=checkbox]{
			margin-left:10px;
		}
	}

	.form-group .admin-thumbnail{
		.image_link{
			float:left;
		}
		.file-upload{
		  margin-left:90px;
		}
		input[type=file]{
			display: inline-block;
		}
		label{
			float:none;
		}
	}
	


	// Style for checkbox list-style: 

	fieldset{
		background-color: lighten(@gray-light, 32%);
		padding:15px 0;
		margin-bottom: 20px;
		border-radius:4px;
		.form-row{
			padding: 0 15px;
		}
		&.hide-labels{
			.form-group > label{
				display:none;
			}
		}
	}
		

	form{
		input[type=text], input[type=email], input[type=password], input[type=url], input[type=number], select{
			.form-control;
			max-width:240px;
			width:100%;
			display: inline-block;
		}
		input.vDateField, input.vTimeField{
			width:auto;
		}
		select{
			//width:auto;
		}
		select[multiple]{
			max-width:480px;
		}
		textarea{
			.form-control;
			width:90%;
			height:70px;
		}
		
		.inline-related fieldset{
			padding:0;
		}
		label{
			width:160px;
			margin-top: 4px;
		}
		label.checkbox{
			width:auto;
			.vCheckboxLabel{
			}
		}
		.form-actions{
			padding:0 15px;
	        bottom:-63px;
	        z-index:10;
	        &.fixed_bottom{
	            position: fixed;
	            bottom:0;
	            left:0;
	            width:100%;
	            padding:15px;
	            .transition(bottom 0.5s ease-in-out);
	            background-color:lighten(@gray-lighter, 4%); 
	            border-top: 1px solid lighten(@gray-light, 25%);
	            .box-shadow(0 -1px 16px rgba(0,0,0,0.1));
	        }
		}
		ul{
		  li{
		  	padding: 2px 0;
		  	&.divider{
		  		padding:0;
		  	}
		    label{
		      .checkbox;
		      padding-left: 0;
		      margin-top: 0px;
			  margin-bottom: 0px;
		    }
		  }
		  margin-left: 0;
		  ul{
				margin-left:15px;
			}
		ul.dropdown-menu{
			margin-left: 0;
		}
		}
		h2{
			text-transform: none;
			border-bottom: none;
		}
	}
	.help-block{
		font-size: 12px;
		
	}
	.form-group{
		label{
			font-weight: normal;
		}
		.help-block{
			
		}
		ul{
			li{
				label{
					float:none;
					width:100%;
					input[type=checkbox]{
						margin-right: 4px;
					}
				}
			}
		}

	}
	form.form-horizontal{
		.form-group-checkbox{
			margin-left: 180px;
			margin-bottom: 14px;
		}
		.control-group{
			margin-left: 180px;
		}
	}

	.control-group{
		.table{
			tr{
				th{
					border-bottom: none;
					background-color: darken(@gray-lighter, 8%);
					
					padding:4px 4px;
					&:first-child{
						border-top-left-radius:.25em;
						border-bottom-left-radius:.25em;
					}
					&:last-child{
						border-top-right-radius:.25em;
						border-bottom-right-radius:.25em;
					}
				}
				td{
					border-top: none;
				}
			}
		}
	}
	

	.errorlist{
		.alert;
		.alert-danger;
		border-radius:@alert-border-radius;
		margin-bottom: 10px;
	}
	.required{
		label{
			font-weight: bold;
		}
	}
	.errorfield{
		label{
			color:@state-danger-text;
		}
		input[type=text], input[type=email], input[type=password], input[type=url]{
			border-color: @state-danger-text;
		}
	}

	.nav{
		li.open a{
			background-color: lighten(@brand-primary, 0%);
			color:#fff;
		}
	}

	.btn-filter{
		float:right;
		margin-right: 14px;
		margin-top: 6px;
	}

}

#content-main{
	padding-bottom:20px;
	padding-top:6px;
	position: relative;
}

.object-tools {
	margin-top:10px;
}
@media (min-width: @grid-float-breakpoint) {
	.object-tools {
		
		float:right;
	}
}
#changelist-filter{
	background-color: @gray-lighter;
	border-bottom: 1px solid lighten(@gray-light, 20%);
	border-left: 1px solid lighten(@gray-light, 20%);
	position:absolute;
	top:0;
	right:0;
	display:none;
	word-wrap: break-word;


	.heading{
		border-top: 1px solid lighten(@gray-light, 20%);
		background-color: lighten(@gray-light, 25%);
		text-transform: uppercase;

		.inner;
		padding-top:13px;
		padding-bottom: 13px;
	}
	.nav{
		
		.nav-header{
			padding:8px 15px;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: bold;
			color: @gray;
			border-top: 1px solid lighten(@gray-light, 25%);
		}
		a{
			padding: 4px 15px;
			&:hover{
				background-color: lighten(@gray-light, 30%);
			}

		}
		li.selected a{
			background-color: lighten(@brand-primary, 0%);
			color:#fff;
		}
	}
}

#changelist-form{
	//border-right: 1px solid lighten(@gray-light, 20%);
}
#changelist{
	position:relative;
}


#toolbar{
	form{
		margin:0;
	}
	#changelist-search{
		width:278px;
		.input-group{
		}
	}
}

form p.paginator{
	.pagination;
	height:16px;
	background-color: @gray-lighter;
	padding:14px 14px 10px 14px;
}

.messagelist{
	margin:0;
}

.inline-related{

	&.empty-form, .empty-form{
		display:none;
	}

	h2{
		margin-bottom: 0;
	}
	.table{
		margin-bottom: 0;
	}
	.form-row{
		> label{
			//font-size:16px;
			.label;
			.label-default;
			text-align: left;
			font-size: @font-size-base;
			padding:6px;
			margin:0;
		}
	}
	
}

fieldset .inline-group{
	
	padding: 8px 0px;
}

.inline-group{

	padding: 8px 15px;
	margin: 0px 0 10px 0;
	border: 0;
	background-color: lighten(@gray-light, 32%);

	//border:1px solid @gray-light;
	border-radius:4px;

	> h2{
	    text-transform:uppercase;
	    color:@gray;
	    font-size:12px;
	    margin:0 0 0px 0;
	    border-bottom:1px solid #fff;
	    line-height:12px;
	    padding:8px 14px;
	  }

	h3{
		text-transform: capitalize;
		font-size: 14px;
		color: #000;
	}
	
	.add-row a, a.add-row{
		.btn;
		.btn-success;
		.btn-xs;
		margin:14px 0 10px 14px;
	}


	.tabular{
		.delete{
			background-color: transparent;
			display: block;
			text-align: right;
			border-radius: 0;
			margin-left: 0;
			.inline-deletelink{
				.btn;
				.btn-danger;
				.btn-xs;
			}
		}
		.has_original .delete{
			border:none;
		}
		.delete-tr{
			text-align: right;
		}
		.form-row{
			th{
				padding-left: 0;
				background-color: transparent;
			}
			td{
				padding-top:8px;
				padding-bottom:8px;
				padding-left: 0;
			}
		}
		.form-row .add-row{
			td{
				padding:0;
			}
			a{
				margin:8px 0 0px 0px;
			}
		}
		.original{
			//display:none;
			padding:0;
		}
		textarea{
			height:70px;
		}
	}

	h3 .delete {
		.badge;
		padding:1px 7px;
		margin-left: 10px;
		label{
			width:auto;
			float:none;
		}
	}

	label{
		font-weight: normal;
	}


}

@media (min-width: @grid-float-breakpoint) {
    .inline-group{
    	label{
			float:left;
		}

    }
    .form-group{
		label{
			float:left;
		}
	}
}

.xfull{
	border-top: 1px solid @gray-light;
	border-right: 1px solid @gray-light;
	background-color: @gray-lighter;
}

ul.toplinks{
	padding-top:4px;
	li{
		float:left;
		margin-right:20px;
	}
}



.xfull{
	border-top: 1px solid @gray-light;
	border-right: 1px solid @gray-light;
	background-color: @gray-lighter;
}

ul.toplinks{
	padding-top:4px;
	li{
		float:left;
		margin-right:20px;
	}
}


tr.empty-form{
	display:none;
}

.field-order_id{
	input[type=text]{
		width:20px;
	}
}

span.sortpriority{
	float:left;
	margin-right: 6px;
	.label;
	background-color: @gray-dark;
	padding:2px 4px;
}

.loader{
	border-radius:4px;
	background-color: rgba(0,0,0,0.8);;
	//.opacity(70);
	color:#fff;
	position: absolute;
	top:50%;
	left:50%;
	width:200px;
	margin-left: -120px;
	padding:20px;
	text-align: center;
	.icon-spin4{
		color:rgba(255,255,255,0.5);
		margin-right: 10px;
		position: relative;
		top:-1px;
	}
}

.table {
  width: 100%;
  margin-bottom: @line-height-computed;
  // Cells
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid lighten(@gray-light, 20%);
    background-color: lighten(@gray-light, 30%);
    a{
    	color:@gray-dark;
    }
  }
 }

.modal{
	h3{
		margin: 0px 0 4px 0;
		font-size: 16px;
	}
	.modal-header{
		padding: 12px 15px 9px 15px;
	}
	.modal-footer{
		background-color: #eee;
		border-radius: 0 0 6px 6px;
	}
}



/* CALENDARS & CLOCKS */

.calendarbox {
  background-color: #f4f4f4;
  border: 1px solid #cccccc;
  padding: 8px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  .calendar-shortcuts {
    font-size: 10px;
    padding: 8px 0;
    text-align: center;
  }
  .calendar-cancel {
    font-size: 10px;
    text-align: center;
  }
  .calendarnav-previous {
    float: left;
  }
  .calendarnav-next {
    float: right;
  }
  table {
    width: 100%;
    caption {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    th {
      font-size: 11px;
      font-weight: normal;
      color: #555555;
    }
    td {
      border: 1px solid #dddddd;
      background-color: #f9f9f9;
      background-color: #f4f4f4;
      background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#ececec));
      background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
      background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
      background-image: linear-gradient(to bottom, #f9f9f9, #ececec);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffececec', GradientType=0);
    }
    td a {
      color: #333333;
      font-weight: bold;
      font-size: 11px;
      padding: 4px;
      display: block;
      text-align: center;
    }
    td a:hover {
      text-decoration: none;
      color: #ffffff;
      background-color: #555555;
    }
    td.today {
      background-color: #00abd3;
    }
    td.today a {
      background-color: #00abd3;
      color: #ffffff;
    }
    td:hover {
      background-color: #555555;
    }
  }
  
}

.clockbox{
  .calendarbox;
}

.input-append.date .add-on i.icon-th, .input-prepend.date .add-on i.icon-th{
	display: inline-block;
	background-image: url('../img/icon_calendar.gif');
	background-repeat: no-repeat;
	width:20px;
	height:20px;
	position: relative;
	top:8px;
	left:6px;
}
