{% extends "admin/index.html" %} 
{% load i18n admin_tools_dashboard_tags %} 

{% if not is_popup %}

{% block dashboard_css %}{% admin_tools_render_dashboard_css 'app_index' %}{% endblock %}
{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li><a href="../">{% trans "Home" %}</a></li>
	{% for app in app_list %}
	<li>{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</li>
	{% endfor %}
	</ol>
{% endblock %}

{% endif %} 

{% block content %}
{% admin_tools_render_dashboard 'app_index' %}
{% endblock %}
{% block sidebar %}{% endblock %}
